.previewtext{

color: black;
font-size: x-large;
border: #2c3e50;
border-style: double;
border-radius: 10px;
background: lightgray;
padding: 5px  15px;
}

.ModalTitle {
    text-align: center
}

.aboutme-icon{
padding: 25px;
}

.cornericon{
margin-top: 80px;
margin-right: 80px;
width: 35%;

float: right;

margin: 12px 12px 2px 2px;
}

.contactlink{
color: #ffffff; font-size: 1.4em;
}

#profile{
  max-width: 50%
}

.shadowtext{
    text-shadow: 0px 0px 10px #3a0d0f;
}

@media screen and (min-width: 768px) {
    .col-sm-offset-2 {
        margin-left: 16.66666667% !important;
    }
}

.thesis-abstract {
    font-size: 18px;
}

.portfolio-icon {
    padding: 5px 5px 0px 5px;
}